<div class="card-group">
    <div class="card" *ngIf='showUserDetails'>
        <!-- TODO: REPLACE WITH PROFILE PHOTO-->
        <img class="card-img-top" src="http://www.carderator.com/assets/avatar_placeholder_small.png" alt="Card image cap" style="max-width: 350px">
        <div class="card-body" *ngIf='selfView'>
            <ul>
                <li><span>Username / Email: </span> {{profile.username}}</li>
                <!--TODO FIGURE OUT HOW TO GET FOLLOW INFORMATION IN HERE-->
                <li>Friends: <span> {{profile.friends.length}} </span></li>
            </ul>
        </div>
    </div>

    <div class="card" *ngIf='showFeed'>
        <div class="card-body">
            <div class="card-header">
                <h5 class="card-title">News Feed</h5>
            </div>
            <!--TODO GET THE FOLLOWER DETAILS SOMEHOW-->

            <p class="card-text">Latest from followed users here.</p>
        </div>

    </div>
    <div class="card" *ngIf='showSchedule'>
        <div class="card-body">
            <div class="card-header">
                <div class="row">
                    <img class='col-3' src="assets/images/calendar.svg" height="24px">
                    <h5 class="card-title col-9">Workouts This Week:</h5>
                </div>
            </div>
            <ul class="list-group">
                <li *ngFor="let date of next7Dates; index as i" class="list-group-item">
                    <span>{{ getDay(date) }}</span>:
                    <span *ngFor="let workout of workouts[i]">
                        {{ workout.name }}
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="card" *ngIf='selfView==false'>
        <img class="card-img-top" src="http://www.carderator.com/assets/avatar_placeholder_small.png" alt="Card image cap" style="max-width: 300px">
        <div class='card-body'>
            <div class='card-header'>
                <h5 class="card-title">{{profile.username}}</h5>
            </div>
            <!--<p class='card-text'>Workouts shared: <span>2 </span></p>        
            -->
            <button class="btn btn-primary" (click)="addFriend(profile)" *ngIf='isFriend==false'>Add Friend</button>
            <button class="btn btn-primary" (click)="removeFriend(profile)" *ngIf='isFriend'>Remove Friend</button>
        </div>
    </div>
    <div class="card" *ngIf='selfView==false'>
        <div class='card-body'>
            <div class='card-header'>
                <h5 class="card-title">{{profile.username}} <span>Is not your friend yet. Friend them to start sharing!</span></h5>
            </div>
        </div>
    </div>
</div>