<h2 class="text-center">
    Welcome!
    <h2>
        <br>
        <form [formGroup]="signUp" ngSubmit="signUp()">
            <div class="row">
                <div class="col ml-5">
                    <input formControlName="firstName" type="text" class="form-control" placeholder="First name" required>
                </div>
                <div class="col mr-5">
                    <input formControlName="lastName" type="text" class="form-control" placeholder="Last name" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col ml-5">
                    <input formControlName="email" type="text" class="form-control" placeholder="Email" required>
                </div>
                <div class="col mr-5">
                    <input formControlName="username" type="text" class="form-control" placeholder="Username" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col ml-5">
                    <input formControlName="pWord" type="text" class="form-control" placeholder="Password" required>
                </div>
                <div class="col mr-5">
                    <input formControlName="vPWord" type="text" class="form-control" placeholder="Verify Password" required>
                </div>
            </div>
            <br>
            <div class="col-md-12 text-center">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit">Sign Me Up!</button>
            </div>
        </form>