<div class="row">
  <div class="col"><h1>{{month.name}} {{month.year}}</h1></div>
  <div class="col">
    <button type="button" class="btn btn-primary pull-right" (click)="toggleToday()">Today</button>
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-primary" (click)="goBackMonth()"><</button>
      <button type="button" class="btn btn-primary" (click)="goNextMonth()">></button>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col" *ngFor="let day of daysOfWeek">{{day}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let week of month.weeks;">
      <td *ngFor="let day of week.days">
        <calendar-day [day]="day" [meals]="getMeal(day)"></calendar-day>
      </td>
    </tr>
    </tbody>
  </table>
</div>
